/* hela sidan*/ 
*{
    padding: 0;
        margin: 0;    
}

/* logga*/
.logo {
    top:0px;
    width: 60%;
  
}
.logo img {

    width: 100%;
    
}

/*nav-bar forts*/

.logonav {
    top: 0;
    margin-top: 0;
width:1440px;
height: 200px;
    justify-content: space-between;
      align-items: center;
    display: flex;
   
      background-color:rgba(255, 237, 148,0.2);
    font-weight: bold;
         font-family:Montserrat;
    font-size: 16px;
    text-transform: none;
    border: 2px solid white;
    
    
}
.menu-ctn li  {
      align-items: center;

    top: 0px;
   right:0px;
   flex-flow: wrap;
   display: inline-block;
    padding: 4px 15px;
    color: rgb(0,0,0);
 font-weight: normal;
         font-family: 'Montserrat';
    font-size: 16px;
    transition: all 0.8s ease;
 position: relative; 
   
}
.menutjo {
     font-weight: bold;
         font-family: 'Montserrat';
    font-size: 16px;
    

}
#droptjo{
    font-size: 14px;
    
}
/*länkar får svart färg*/
li a:link { 
 color: rgb(0,0,0);
     text-decoration: none;
     font-weight: normal;
         font-family: 'Montserrat';
    font-size: 14px;
   
    
}
li a:visited {
color: rgb(0,0,0);
    text-transform: none;
    
}
/*hover effekter*/
.menu-ctn li:hover { 
cursor: pointer; 
background-color: rgba(36, 14, 6,0.5);
  
    
}


/* dropmeny startsida*/

#droptjo { 
    display:none;
    position: absolute;
    width: 100%;
     text-transform: none;
    font-weight: normal;
    background-color: #fff; 
      z-index: 1;
 text-align: center;
    left: 0;
    font-size: 14px;
    top: 100%;
           font-weight: normal;
  justify-content: center;
   

}

/* dropmeny galleri*/
#dropgalleri { 
    display:none;
    position: absolute;
    width: 100%;
    text-transform: none;
    background-color: #fff; 
     z-index: 1;
    text-align: center;
   font-weight: normal;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    top: 100%;
      justify-content: center;
}




/* dropmeny om mig*/
#dropommig { 
  display:none;
    position: absolute;
    width: 100%;
    text-transform: none;
     background-color: #fff; 
  
     z-index: 1;
        text-align: center;
  font-weight: normal;
    left: 0;
    font-size: 10px;
    top: 100%;
       
 
      justify-content: center;
}
/* dropmeny kontakt*/
#dropkontakt { 
  display:none;
    position: absolute;
    width: 100%;
    text-transform: none;
    background-color: #fff; 
       text-align: center;
     z-index: 1;
   font-weight: normal;
    left: 0;
    font-size: 14px;
    top: 100%;
       
  justify-content: center;
}

/* dropmenyerna visas inte först*/


/* dropmenyernas rubriker får en padding */
#droptjo li {
    padding: 5px 1px;
    

}
#droptjo a:hover{
    padding-left: 10px;
}

#dropgalleri li {
    padding: 5px 15px;
    

}
#dropgalleri a:hover{
    padding-left: 10px;
}

#dropkontakt li {
    padding: 5px 1px;
    

}
#dropkontakt a:hover{
    padding-left: 10px;
}

#dropommig li {
    padding: 5px 1px;

}
#dropommig a:hover{
    padding-left: 10px;
}


.navbar {
    width: 300px; 
    height: 100%;
    background-color: #fff; 
    position: fixed; 
    top: 0;
    right: -300px;
    display: flex;
    align-items: center;
    border-radius: 0 0 0 0;
     font-weight: bold;
        font-family: 'Montserrat';
    font-size: 16px;
    
    z-index: 1;
        }

.change {  
right: 0; 
}
/*
.nav-list {
    text-align: right;
    
}*/
.nav-item {
    list-style: none; 
    margin: 0 45px;
    top:70px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-decoration: none;
    font-weight: bold;
         font-family: 'Montserrat'; 
    font-size: 16px;
}

.nav-item:hover {
   cursor: pointer; 
background-color: rgba(36, 14, 6,0.5);
        padding-left:10px;
}
.hamburger-menu {
    background-color: rgba(36, 14, 6,0.5);
    width: 45px; 
    height: 40px; 
    position: fixed;  
    margin-top:-320px;
    left: 1350px;
    cursor:pointer;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-width: 2px;
    z-index: 1;
    border-color: #000;
     
}

.line {
  align-items: center; 
    width: 80%; 
    height: 3px;
    top:0; 
    margin-left: 4px;
    background-color: #000; 
    font-size: 16px;
    color: #000;
    font-weight:300; 
    transition: all 0.8s;

    
}

.change .line-1{
    transform: rotateZ(-45deg) translate(-8px, 10px);
}
.change .line-2 {
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(45deg)translate(-8px, -11px);
}
.hello{
    top:20px;
   font-size: 16px;
     font: 16px Montserrat;
      font-weight: bold;
     z-index: 1; 
     color: rgb(0,0,0);
 
}
p {
     top:25px;
     font-weight: normal;
     font: 14px Montserrat;
     z-index: 1; 
  
}




.background {
    background-size:1440px;
    padding: 20em;
    background-image: url(iimg/Norrskar1_email.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    
     position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
 

z-index: -1;
}
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/MagnusHjerpe/docs/iimg/Norrskar1_email.jpg');
    height:150vh;
    background-attachment: fixed;
    
  
}
section .box1{
    position: relative;
    max-width: 600px;
    padding: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    overflow: hidden; 
    color:#000;
 
    
}


section .box1 p {
    font-family: Montserrat; 
    font-size:12px;
    font-weight: normal;
     position: relative;
    margin: 0 0 20px;
    padding:0; 
    z-index: 2;
  top: -20px;
 
  
}

section .box1 h2 {
    font-family: Montserrat; 
    font-size: 16px; 
    font-weight: bold;
    position: relative;
    margin: 0 0 20px;
    padding:0; 
    z-index: 2;
    
}
.box1 a:visited {
color: rgb(0,0,0);
    text-transform: none;
    font-weight: normal;
    
}


section .box1 a {
    font-family: Montserrat; 
    font-size: 14px; 
    font-weight: normal;
    position: relative;
    margin: 0 0 20px;
    padding:0; 
    z-index: 2;
     top: -40px;
   
    
}

section .box1 .bigimage {
    font-family: Montserrat; 
    font-size: 16px; 
    font-weight: bold;
    position: relative;
    margin: 0 0 20px;
    padding:0; 
    z-index: 2;
     top: -15px;
   
    
}

section .box1 a:hover {
    padding-left: 10px;
    color: rgba(36, 14, 6,0.5);
    
}

section .box1 .bigimage:hover {
    padding-left: 10px;
    color: rgba(36, 14, 6,0.5);
    
}




.aboutmecontainer {
     max-width: 1400px;
      justify-content: center;
    align-items: center;
    padding-left: 200px;
    background-color: rgba(255, 237, 148,0.2);
}
.mytext1 {
     font-family: 'Montserrat';
      font-size:12px;
    font-weight: normal;
    
    
}
.mytext2 {
     font-family: 'Montserrat';
      font-size:12px;
    font-weight: normal;
    
    
}
.rubrikmagnus {
     font-family: 'Montserrat';
      font-size:16px;
    font-weight: bold;
    
    
}

.smallcircles {
   padding-left: 20px;
    
}
.myimage {
    justify-content: center;
    align-items: center;
     padding-left: 20px;
}
figcaption {
     font-family: 'Montserrat';
      font-size:12px;
    font-weight: normal;
    
}
.mymedverka{
     
      font-family: 'Montserrat';
      font-size:12px;
    padding-left:0px;
    display: block;
    color:#000;
    
}



.earlie {
     font-family: 'Montserrat';
      font-size:12px;
    font-weight: normal;
    
        
    
}
.video1{
 

    width:55%;
    /* background-color:rgba(255, 237, 148,0.2);*/
    
    justify-content: center;
    align-items: center;
    padding-right: 60; 
    padding-top: -30px;
 
}




video {
    width:55%;
    margin: 30px;
    padding-left: 30px;
    background-color: rgba(255, 237, 148,0.1);
   
}

.container1{ 
max-width: 1970px;
margin: auto;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 600px;
}
ul {
    list-style: none;
}
.footer1{
    background-color: rgba(255, 237, 148,0.2);
    padding: 70px 0; 
}

.footer-col1 {
    width:15%;
    padding: 0px;   
}

.footer-col1 h4 {
     font-weight: bold;
         font-family: 'Montserrat';
    font-size: 16px;
    color:#000; 
    margin-bottom:35px; 
   
    position: relative; 
    
}
.footer-col1 h4::before{
content:'';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: rgb(36, 14, 6);
    height: 2px; 
    box-sizing: border-box;
    width: 50px;
}
.footer-col1 ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col1 ul li a {
    font-size: 14px;
    color:#000;
    font-family: 'Montserrat';
     font-weight:normal;
    display: block;
    transition: all 0.3 ease;
    text-decoration: none;
}
.footer-col1 ul li a:hover{
color: rgba(36, 14, 6,0.5);
    padding-left: 10px;
    
    
}

/*sociala iconer*/
   


.far {
     cursor: pointer;
 display: inline-block; 
    background-color:rgb(36, 14, 6);
    padding: 9px 10px;
    margin: 0 2px;
    z-index: 1;
    
    
}
.fab{
    background-color:rgb(36, 14, 6);
      cursor: pointer;
 display: inline-block; 
    padding: 9px 10px;
    margin: 0 2px;
    z-index: 1;
}
.fab fa-facebook-f {
    margin-bottom: 20px;
       cursor: pointer;
 display: inline-block; 
   
    padding: 9px 10px;
    margin: 0 2px;
    z-index: 1;
}

.fab fa-spotify {
  top:20px;
    
     cursor: pointer;
 display: inline-block; 
    background-color: rgb(36, 14, 6);
    padding: 7px 8px;
    margin: 0 2px;
    z-index: 1;
    
}

 .fab {
    color:#fff;
      display: inline-block; 

}

.far {
    color:#fff;
     display: inline-block; 

}

.fab:hover { 
    cursor: pointer;
    background-color: rgba(36, 14, 6,0.5); 
}
.far:hover { 
    background-color: rgba(36, 14, 6,0.5);



